.product-image-wrapper {
  width: 50%;
}

.product-image {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

@media (max-width: 375px) {
  .product-image {
    border-radius: 10px 10px 0 0;
  }

  .product-image-wrapper {
    width: 100%;
  }
}
